* {
    padding: 0px;
    margin: 0px;
}

body,html {
    font-family: robot, sans-serif, Arial;
    background: #f0f3fa;
}

.width-100 {
    width: 100%;
    float: left;
}

.container {
    width: 1500px;
    margin: 0px auto;
}

.top-header {
    background: #2196f3;
    padding: 5px 0px;
    border-bottom:  1px solid #3131315e;
}

.news-list{
    background: #fff;
    color: red;
    padding: 6px;
    font-size: 20px;
}

.headquote {
    font-size: 18px;
    color: #fff;
    width: 80%;
}

.header-menu{
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;
}
.logo{
    width: fit-content;
    float: left;
}
.main-menu {
    list-style: none;
    float: right;
    margin-top: 20px;
}
.main-menu a{
    font-weight: 500;
    color: #3a3a3a;
    font-size: 20px;
    text-decoration: none;
}
.main-menu li{
    float: left;
    padding: 12px 15px;
}
.slider-width{
    width: 100%;
    height: auto;
}

.margin-top-50{
margin-top: 50px;
}

.width-33{
    width: 33%;
    float: left;
}
.latest-news{
margin-left: 10px;
margin-right: 10px;
background: #fff;
padding: 20px;
height: 350px;
margin-bottom: 30px;
}

.heading-sect{
width: 100%;
float: left;
border-bottom: 1px solid #cfcfcf;
padding-bottom: 0px;
margin: 0px;
margin-bottom: 15px;
border: 1px solid #cfcfcf;
padding-top: 15px;
padding-left: 15px;
background: #00aed9;
color: white;
}

.heading-title{
margin: 0px;
padding: 0px;
font-size: 16px;
font-weight: 600;
padding-bottom: 5px;
}

.latest-news-ul{
padding: 0px;
list-style: none;
line-height: 40px;
}

.events-list{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.Upcoming-events-list{
padding: 0px;
list-style: none;
}

.Upcoming-events-list li{
width: 100%;
float: left;
margin-bottom: 15px;
}

 .events-date{
background: #03a9f4;
width: 30px;
float: left;
text-align: center;
font-size: 14px;
color: #fff;
padding: 8px;
margin-right: 10px;
 }

 .notice-board{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
 }

 .notice-board-list{
    padding: 0px;
    list-style: none;
    line-height: 25px;
 }

 .notice-board-list li{
width: 100%;
float: left;
margin-bottom: 15px;
 }

 .our-principal{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
 }

 .useful-info-ul{
    list-style: none;
 }

 .useful-info-ul li{
    margin-bottom: 15px;
    border-bottom: 1px solid#d7d7d7;
    padding: 15px;
 }

 .useful-info-ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
 }
/* here is start the 2nd box of meddil */
 .gov-sec-style{
margin-bottom: 30px;
border-bottom: 1px solid #d7d7d7;
padding-bottom: 30px;
 }

.governor-name{
font-size: 16px;
color: black;
font-weight: bold;
padding-left: 10px;
margin-top: 20px;
}

 .governor-designation{
font-size: 15px;
color: black;
padding-left: 10px;
margin-top: 6px;
 }

 .governor-img{
    width: 100%;
 }

 .width-40{
width: 20%;
float: left;
 }

 .width-60{
width: 60%;
float: left;
 }

 .About-us{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
 }

 .Certificate{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
 }

 .gallery-head-style{
font-size: 28px;
color: #4b4848;
margin-bottom: 5px;
background: white;
padding: 2px 0px;
 }

 .width-25{
width: 20%;
float: left;
 }

 .width-30{
    width: 20%;
    float: left;
}

 .gallery-img{
height: 250px;
width: auto;
 }

 .recruiter-head-style{
    font-size: 28px;
    color: #4b4848;
    margin-bottom: 20px;
 }

 .recruiter-marquee{
    height: 100px;

 }

 .recruiter-marquee img{
    height: 80px;
    width:140px;
 }

.footer{
background: #232f3e;
padding: 50px 0px;
 }

 .quicklink-heading{
    font-size: 18px;
    font-weight: bold; 
    color: #fff;
    margin-bottom: 10px;
 }

 .quicklink-meanu{
list-style: none;
padding-left: 10px;
}

.quicklink-meanu li a {
color: #fff;
line-height: 2.5px;
font-size: 15px;
text-decoration: none;
}

.get-in-touch{
    list-style: none;
    padding-left: 10px;
}

.get-in-touch li i{
color: #fff;
font-size: 20px;
}

.get-in-touch li{
color: #fff;
line-height: 2.5;
font-size: 15px;
}

.footer-e-mail{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.footer-website{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.social-media{
list-style: none;
margin-top: 10px;
}

.social-media li{
float: left;
padding: 0px 8px;
}

.social-media img{
width: 30px;
}

.footer2-bacbor{
    background: #232f3e;
    padding: 10px 0px;
    border-top: 1px solid #898989;
}

.footer2-content{
    font-size: 14px;
    color: #fff;
    text-align: center;
}